CommunicationRSZ-ejb/src/main/resources/META-INF/be/socialsecurity/presenceregistration/v1/PresenceRegistration_v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PresenceRegistration" targetNamespace="http://socialsecurity.be/presenceregistration/v1" xmlns:err="http://socialsecurity.be/errors/v1" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:type="http://socialsecurity.be/presenceregistration/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:documentation>Version 1.9</wsdl:documentation>
    <wsp:Policy wsu:Id="SAML_HOK" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
        <sp:AsymmetricBinding>
            <wsp:Policy>
                <sp:InitiatorToken>
                    <wsp:Policy>
                        <!-- If the client framework supports sp:IssuedToken policy assertions, uncomment this block and comment the sp:SamlToken assertion -->
                        <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                            <sp:RequestSecurityTokenTemplate />
                            <wsp:Policy />
                        </sp:IssuedToken>
                        <!--sp:SamlToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssSamlV11Token10/>
                          </wsp:Policy>
                        </sp:SamlToken-->
                    </wsp:Policy>
                </sp:InitiatorToken>
                <sp:RecipientToken>
                    <wsp:Policy>
                        <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                            <wsp:Policy>
                                <sp:WssX509V3Token10/>
                            </wsp:Policy>
                        </sp:X509Token>
                    </wsp:Policy>
                </sp:RecipientToken>
                <sp:AlgorithmSuite>
                    <wsp:Policy>
                        <sp:Basic256/>
                    </wsp:Policy>
                </sp:AlgorithmSuite>
                <sp:Layout>
                    <wsp:Policy>
                        <sp:Lax/>
                    </wsp:Policy>
                </sp:Layout>
                <sp:IncludeTimestamp/>
                <sp:ProtectTokens/>
                <sp:OnlySignEntireHeadersAndBody/>
            </wsp:Policy>
        </sp:AsymmetricBinding>
        <sp:Wss10>
            <wsp:Policy>
                <sp:MustSupportRefKeyIdentifier/>
                <sp:MustSupportRefIssuerSerial/>
            </wsp:Policy>
        </sp:Wss10>
        <sp:SignedParts>
            <sp:Body/>
        </sp:SignedParts>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://socialsecurity.be/presenceregistration/v1" schemaLocation="PresenceRegistration_protocol_v1.xsd"/>
            <xsd:import namespace="http://socialsecurity.be/errors/v1" schemaLocation="../../errors/v1/socsec-errors-schema-v1.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <!-- submit declaration request/response  -->
    <wsdl:message name="RegisterPresencesRequest">
        <wsdl:part name="request" element="type:RegisterPresencesRequest"/>
    </wsdl:message>
    <wsdl:message name="RegisterPresencesResponse">
        <wsdl:part name="response" element="type:RegisterPresencesResponse"/>
    </wsdl:message>
    <!-- cancel submitted declaration   -->
    <wsdl:message name="CancelPresencesRequest">
        <wsdl:part name="request" element="type:CancelPresencesRequest"/>
    </wsdl:message>
    <wsdl:message name="CancelPresencesResponse">
        <wsdl:part name="response" element="type:CancelPresencesResponse"/>
    </wsdl:message>
    <!-- Consult submitted declaration  -->
    <wsdl:message name="SearchPresencesRequest">
        <wsdl:part name="request" element="type:SearchPresencesRequest"/>
    </wsdl:message>
    <wsdl:message name="SearchPresencesResponse">
        <wsdl:part name="response" element="type:SearchPresencesResponse"/>
    </wsdl:message>
    <!-- Consult declaration based on DeclarationId -->
    <wsdl:message name="GetPresenceRegistrationRequest">
        <wsdl:part name="request" element="type:GetPresenceRegistrationRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPresenceRegistrationResponse">
        <wsdl:part name="response" element="type:GetPresenceRegistrationResponse"/>
    </wsdl:message>
    <!-- errors -->
    <wsdl:message name="SystemError">
        <wsdl:part name="fault" element="err:SystemError"/>
    </wsdl:message>
    <wsdl:message name="BusinessError">
        <wsdl:part name="fault" element="err:BusinessError"/>
    </wsdl:message>
    <!-- Operations -->
    <!-- validate request/response -->
    <wsdl:portType name="PresenceRegistrationPortType">
        <wsdl:operation name="registerPresences">
            <wsdl:documentation>This operation is used to submit one or more presence registrations to the Social Security as required in some worksites. A typical registration requires to provide the who, where and when information. You may make up till 200 of such PresenceRegistrationRequests of the complex type PresenceRegistrationSubmitType in one call to the RegisterPresencesRequest, which will be answered by a RegisterPresencesResponse with each RegisterPresenceRespons either returning a PresenceRegistrationType (=success) or a PresenceRegistrationErrorType (=failed registration).</wsdl:documentation>
            <wsdl:input message="type:RegisterPresencesRequest" name="RegisterPresencesRequest"/>
            <wsdl:output message="type:RegisterPresencesResponse" name="RegisterPresencesResponse"/>
            <wsdl:fault name="SystemError" message="type:SystemError"/>
            <wsdl:fault name="BusinessError" message="type:BusinessError"/>
        </wsdl:operation>
        <wsdl:operation name="cancelPresences">
            <wsdl:documentation>A list of presence registrations to cancel. The list contains one or more CancelPresenceRequestType Complex Type with a PresenceRegistrationId and the CancellationReason. Current allowed values of the CancellationReason are HOLIDAY, DISEASE, PLANNING, C32A</wsdl:documentation>
            <wsdl:input message="type:CancelPresencesRequest" name="CancelPresencesRequest"/>
            <wsdl:output message="type:CancelPresencesResponse" name="CancelPresencesResponse"/>
            <wsdl:fault name="SystemError" message="type:SystemError"/>
            <wsdl:fault name="BusinessError" message="type:BusinessError"/>
        </wsdl:operation>
        <wsdl:operation name="searchPresences">
            <wsdl:documentation>This operation allows to search one or more presence registrations as required on some worksites (only available for Inspection/Dolsis). A SearchPresencesRequest contains search criteria (SearchPresenceRegistrationCriteria), together with pagination (PaginationProperties) and sortering posibilities (SortingProperties) to return a SearchPresencesResponse with a list of presence registrations that correspond to the above criteria and properties. The reply message is given as a a SearchPresencesReponseType and contains the original request (SearchPresencesRequest) and either a PresenceRegistrationList or a PresenceRegistrationError. In case it’s a the PresenceRegistrationList, it contains the result count.</wsdl:documentation>
            <wsdl:input message="type:SearchPresencesRequest" name="SearchPresencesRequest"/>
            <wsdl:output message="type:SearchPresencesResponse" name="SearchPresencesResponse"/>
            <wsdl:fault name="SystemError" message="type:SystemError"/>
            <wsdl:fault name="BusinessError" message="type:BusinessError"/>
        </wsdl:operation>
        <wsdl:operation name="getPresenceRegistration">
            <wsdl:documentation>In order to get all the possible details about a certain presence registration one can use this call to retrieve the full history of a certain presence registration identified by it’s PresenceRegistrationId.</wsdl:documentation>
            <wsdl:input message="type:GetPresenceRegistrationRequest" name="GetPresenceRegistrationRequest"/>
            <wsdl:output message="type:GetPresenceRegistrationResponse" name="GetPresenceRegistrationResponse"/>
            <wsdl:fault name="SystemError" message="type:SystemError"/>
            <wsdl:fault name="BusinessError" message="type:BusinessError"/>
        </wsdl:operation>
    </wsdl:portType>
    <!-- BINDING (protocol & style) -->
    <wsdl:binding name="PresenceRegistrationSOAPBinding" type="type:PresenceRegistrationPortType">
        <soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="registerPresences">
            <soap11:operation soapAction="http://socialsecurity.be/presenceregistration/v1/registerPresences"/>
            <wsdl:input>
                <soap11:body use="literal"/>
                <wsp:PolicyReference URI="#SAML_HOK" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
            </wsdl:input>
            <wsdl:output>
                <soap11:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SystemError">
                <soap11:fault name="SystemError" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="BusinessError">
                <soap11:fault name="BusinessError" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="cancelPresences">
            <soap11:operation soapAction="http://socialsecurity.be/presenceregistration/v1/cancelPresences"/>
            <wsdl:input>
                <soap11:body use="literal"/>
                <wsp:PolicyReference URI="#SAML_HOK" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
            </wsdl:input>
            <wsdl:output>
                <soap11:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SystemError">
                <soap11:fault name="SystemError" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="BusinessError">
                <soap11:fault name="BusinessError" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="searchPresences">
            <soap11:operation soapAction="http://socialsecurity.be/presenceregistration/v1/searchPresences"/>
            <wsdl:input>
                <soap11:body use="literal"/>
                <wsp:PolicyReference URI="#SAML_HOK" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
            </wsdl:input>
            <wsdl:output>
                <soap11:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SystemError">
                <soap11:fault name="SystemError" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="BusinessError">
                <soap11:fault name="BusinessError" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPresenceRegistration">
            <soap11:operation soapAction="http://socialsecurity.be/presenceregistration/v1/getPresenceRegistration"/>
            <wsdl:input>
                <soap11:body use="literal"/>
                <wsp:PolicyReference URI="#SAML_HOK" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
            </wsdl:input>
            <wsdl:output>
                <soap11:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SystemError">
                <soap11:fault name="SystemError" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="BusinessError">
                <soap11:fault name="BusinessError" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <!-- SERVICE -->
    <wsdl:service name="PresenceRegistrationService">
        <wsdl:port name="PresenceRegistrationSOAP11" binding="type:PresenceRegistrationSOAPBinding">
            <soap11:address location="https://services-sim.socialsecurity.be/PresenceRegistration/v1"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>