CommunicationRSZ-ejb/src/main/resources/META-INF/be/socialsecurity/errors/v1/socsec-errors-schema-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://socialsecurity.be/errors/v1" xmlns="http://socialsecurity.be/errors/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation xml:lang="en">This schema describes the structure of an error detail as it is communicated by the SOA Platform to the consumer. This error detail might be embedded in another structure. This is the case when the SOAP protocol is used. In that case this structure is embedded in the Soap:Fault
			"detail" element</xs:documentation>
  </xs:annotation>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
  <xs:element name="SystemError" type="ErrorType"/>
  <xs:element name="BusinessError" type="ErrorType"/>
  <xs:complexType name="LocalisedString">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="xml:lang" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ErrorType">
    <xs:sequence>
      <xs:element name="Origin" type="xs:string">
        <xs:annotation>
          <xs:documentation>The component/party that is at the cause of the error: consumer or provider, client or server.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Code" type="xs:string"/>
      <xs:element name="Message" type="LocalisedString" maxOccurs="unbounded"/>
      <xs:element name="Retry" type="xs:boolean" minOccurs="0"/>
      <xs:element name="Contact" type="xs:string" minOccurs="0"/>
      <xs:element name="Environment" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Development"/>
            <xs:enumeration value="Test"/>
            <xs:enumeration value="Integration"/>
            <xs:enumeration value="Acceptation"/>
            <xs:enumeration value="Simulation"/>
            <xs:enumeration value="Production"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string">
      <xs:annotation>
        <xs:documentation>Unique number identifying this message. If present, the ticket that was created for the client's request, leading to this Error, should be placed here. Then this id can be used to trace back the message from request to response.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>